# Tech Workers Countries

In [ ]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
import datetime
import matplotlib.dates as mdates

from scipy import stats
from matplotlib.dates import DateFormatter
from IPython.display import display

# Load and Display Raw Data

In [ ]:
db_survey = sqlite3.connect(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\TechMentalHealth\\DataSet\\mental_health.sqlite"
)

In [ ]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

# Colors

In [ ]:
ord_color = "bisque"
spec_lev1 = "crimson"
spec_lev2 = "orangered"
spec_lev3 = "lightcoral"
male_color = "royalblue"
female_color = "pink"
graph_color1 = "indianred"
graph_color2 = "slategrey"

# Answers

In [ ]:
df_answers = pd.read_sql_query("SELECT * FROM Answer", db_survey)
df_answers.head()

# Tech Workers in Tech Companies

In [ ]:
df_Answer9 = pd.read_sql_query(
    "SELECT USERID FROM Answer where QuestionID = 9 AND AnswerText = '1'",
    db_survey
)

In [ ]:
df_Answer9.count()

In [ ]:
df_Answer13 = pd.read_sql_query(
    "SELECT USERID FROM Answer where QuestionID = 13 AND AnswerText = '1'",
    db_survey
)

In [ ]:
df_Answer13.count()

In [ ]:
df_TechinTech = pd.merge(df_Answer13, df_Answer9 , on='UserID', how='inner')

In [ ]:
Total_TechinTech = df_TechinTech.count()
Total_TechinTech

# Tech Worker Live Countries

In [ ]:
df_Answer3 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 3",
    db_survey
)

In [ ]:
df_Countries = pd.merge(df_TechinTech, df_Answer3 , on='UserID', how='inner')

In [ ]:
df_Countries.count()

In [ ]:
df_Countries.head()

In [ ]:
df_Countries["AnswerText"] = df_Countries["AnswerText"].replace(
    {
        "-1": "Other",
        "Bahamas, The": "Bahamas",
        "United States of America": 'United States'
    }
)

In [ ]:
df_Countries.head()

In [ ]:
df_Countries.count()

In [ ]:
df_Countries = df_Countries.drop(['UserID', 'SurveyID', 'QuestionID'], axis = 1)
df_Countries.head()

In [ ]:
df_Countries_count = df_Countries.AnswerText.value_counts()
df_Countries_count = pd.DataFrame(df_Countries_count)
df_Countries_count = df_Countries_count.reset_index()

In [ ]:
df_Countries_counts = df_Countries_counts.rename(
    columns={"index": "Country", "AnswerText": "Count"}
)

In [85]:
df_Countries_counts = df_Countries_counts.groupby("Country").sum()
df_Countries_counts = df_Countries_counts.sort_values("Count", ascending=False)
df_Countries_counts.head()

KeyError: 'Country'