# QuestionID 2 Gender

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
import datetime
import matplotlib.dates as mdates

from scipy import stats
from matplotlib.dates import DateFormatter
from IPython.display import display

In [2]:
db_survey = sqlite3.connect(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\TechMentalHealth\\DataSet\\mental_health.sqlite"
)

In [3]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

In [4]:
df_Answer2 = pd.read_sql_query("SELECT AnswerText FROM Answer where QuestionID = 2", db_survey)

In [5]:
df_Answer2_counts = df_Answer2.AnswerText.value_counts()
df_Answer2_counts = pd.DataFrame(df_Answer2_counts)
df_Answer2_counts = df_Answer2_counts.reset_index()

In [6]:
df_Answer2_counts = df_Answer2_counts.rename(
    columns={"index": "Gender", "AnswerText": "Count"}
)

In [7]:
df_Answer2_counts["Gender"] = df_Answer2_counts["Gender"].replace(
    {"female": "Female", "male": "Male", "MALE": "Male"}
)

In [8]:
df_Answer2_counts["Gender"] = np.where(
    (df_Answer2_counts["Gender"] == "Male") | (df_Answer2_counts["Gender"] == "Female"),
    df_Answer2_counts["Gender"],
    "Other",
)

In [9]:
df_Answer2_counts.groupby("Gender").sum()

        Count
Gender
Female   1024
Male     3043
Other     151