# Country Live

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
import datetime
import matplotlib.dates as mdates

from scipy import stats
from matplotlib.dates import DateFormatter
from IPython.display import display

In [2]:
db_survey = sqlite3.connect(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\TechMentalHealth\\DataSet\\mental_health.sqlite"
)

In [3]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

In [4]:
df_Answer3 = pd.read_sql_query('SELECT AnswerText FROM Answer where QuestionID = 3', db_survey)

In [5]:
df_Answer3.head()

       AnswerText
0   United States
1   United States
2          Canada
3  United Kingdom
4   United States

In [6]:
df_Answer3.count()

AnswerText    4218
dtype: int64

In [7]:
df_Answer3_counts = df_Answer3.AnswerText.value_counts()
df_Answer3_counts = pd.DataFrame(df_Answer3_counts)
df_Answer3_counts = df_Answer3_counts.reset_index()

In [8]:
df_Answer3_counts = df_Answer3_counts.rename(
    columns={"index": "Country", "AnswerText": "Count"}
)

In [9]:
df_Answer3_counts["Country"] = df_Answer3_counts["Country"].replace(
    {
        "-1": "Other",
        "Bahamas, The": "Bahamas",
        "United States of America": 'United States'
    }
)

In [10]:
df_Answer3_counts = df_Answer3_counts.groupby("Country").sum()
df_Answer3_counts = df_Answer3_counts.sort_values("Count", ascending=False)
df_Answer3_counts.head()

                Count
Country
United States    2604
United Kingdom    482
Canada            199
Germany           136
Netherlands        98