# Tech Workers

In [103]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
import datetime
import matplotlib.dates as mdates

from scipy import stats
from matplotlib.dates import DateFormatter
from IPython.display import display

# Load and Display Raw Data

In [104]:
db_survey = sqlite3.connect(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\TechMentalHealth\\DataSet\\mental_health.sqlite"
)

In [105]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

# Answers

In [106]:
df_answers = pd.read_sql_query("SELECT * FROM Answer", db_survey)
df_answers.head()

  AnswerText  SurveyID  UserID  QuestionID
0         37      2014       1           1
1         44      2014       2           1
2         32      2014       3           1
3         31      2014       4           1
4         31      2014       5           1

# Male Tech Worker

In [156]:
df_Answer2 = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 2 AND AnswerText = 'Male'",
    db_survey
)

In [157]:
df_Answer13 = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 13 AND AnswerText = '1'",
    db_survey
)

In [158]:
df_MaleTechWorker = pd.merge(df_Answer2, df_Answer13, on='UserID', how='inner')
df_inner.count()

UserID    821
dtype: int64

# Female Tech Worker

In [165]:
df_Answer2 = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 2 AND AnswerText = 'Female'",
    db_survey
)

In [166]:
df_Answer13 = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 13 AND AnswerText = '1'",
    db_survey
)

In [164]:
df_FemaleTechWorker = pd.merge(df_Answer2, df_Answer13, on='UserID', how='inner')
df_FemaleTechWorker.count()

UserID    320
dtype: int64

# Tech Workers in Tech Companies

In [224]:
df_Answer9 = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 9 AND AnswerText = '1'",
    db_survey
)

In [225]:
df_Answer13 = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 13 AND AnswerText = '1'",
    db_survey
)

In [227]:
df_inner = pd.merge(df_Answer9, df_Answer13, on='UserID', how='inner')
df_inner.count()

UserID    909
dtype: int64

# Tech Workers with Current Mental Disorders

In [206]:
df_Answer9 = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 9 AND AnswerText = '1'",
    db_survey
)

In [207]:
df_Answer33 = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 33 AND AnswerText = 'Yes'",
    db_survey
)

In [208]:
df_inner = pd.merge(df_Answer9, df_Answer33, on='UserID', how='inner')
df_inner.count()

UserID    760
dtype: int64

# Tech Workers with Past Mental Disorders

In [209]:
df_Answer9 = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 9 AND AnswerText = '1'",
    db_survey
)

In [210]:
df_Answer34 = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 34 AND AnswerText = 'Yes'",
    db_survey
)

In [211]:
df_inner = pd.merge(df_Answer9, df_Answer34, on='UserID', how='inner')
df_inner.count()

UserID    837
dtype: int64

# Tech Workers in Tech Companies with Current Mental Disorders

In [212]:
df_Answer9 = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 9 AND AnswerText = '1'",
    db_survey
)

In [213]:
df_Answer13 = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 13 AND AnswerText = '1'",
    db_survey
)

In [214]:
df_Answer33 = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 33 AND AnswerText = 'Yes'",
    db_survey
)

In [216]:
df_inner = df_Answer9.merge(df_Answer13,on='UserID').merge(df_Answer33,on='UserID')
df_inner.count()

UserID    379
dtype: int64