# Tech Worker Age_Draft1

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
import datetime
import matplotlib.dates as mdates

from scipy import stats
from matplotlib.dates import DateFormatter
from IPython.display import display

# Load Raw Data

In [2]:
db_survey = sqlite3.connect(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\TechMentalHealth\\DataSet\\mental_health.sqlite"
)

# Display Parameters

## Display Features

In [3]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

## Colors

In [4]:
ord_color = "bisque"
spec_lev1 = "crimson"
spec_lev2 = "orangered"
spec_lev3 = "lightcoral"
male_color = "royalblue"
female_color = "pink"
graph_color1 = "indianred"
graph_color2 = "slategrey"

## Figure Parameters

In [5]:
size = 20

params = {
    "font.family": "Times New Roman",
    "font.size": size,
    "axes.labelsize": size,
    "xtick.labelsize": size * 0.75,
    "ytick.labelsize": size * 0.75,
    "figure.titlesize": size * 1.5,
    "axes.titlesize": size * 1.5,
    "axes.titlepad": size,
    "axes.labelpad": size - 10,
    "lines.linewidth": 2,
    "axes.spines.top": False,
    "axes.spines.right": False,
    "axes.spines.left": False,
    "axes.spines.bottom": False,
    "legend.fontsize": size,
}

# Answers

In [6]:
df_answers = pd.read_sql_query("SELECT * FROM Answer", db_survey)

# Tech Workers in Tech Companies

In [7]:
df_Answer9 = pd.read_sql_query(
    "SELECT USERID FROM Answer where QuestionID = 9 AND AnswerText = '1'",
    db_survey
)

In [8]:
df_Answer13 = pd.read_sql_query(
    "SELECT USERID FROM Answer where QuestionID = 13 AND AnswerText = '1'",
    db_survey
)

In [9]:
df_TechinTech = pd.merge(df_Answer13, df_Answer9 , on='UserID', how='inner')

In [10]:
Total_TechinTech = df_TechinTech.count()

# Tech Worker Age

In [11]:
df_age = pd.read_sql_query(
    "SELECT AnswerText FROM Answer where QuestionID = 1", db_survey
)

In [12]:
df_age["AnswerText"] = df_age["AnswerText"].astype(int)

In [13]:
df_age.sort_values("AnswerText", inplace=True)

In [14]:
df_age = df_age[df_age.AnswerText >= 20]
df_age = df_age[df_age.AnswerText <= 75]

In [15]:
df_value_count = df_age.AnswerText.value_counts()
df_age_count = pd.DataFrame(df_value_count)
df_age_count = df_value_counts.reset_index()

NameError: name 'df_value_counts' is not defined

In [ ]:
df_age_count = df_age_count.rename(columns={"index": "Age", "AnswerText": "Count"})

In [ ]:
df_age_count.loc[df['Age'].between(20, 29, 'both'), 'Range'] = '20s'
df_age_count.loc[df['Age'].between(30, 39, 'both'), 'Range'] = '30s'
df_age_count.loc[df['Age'].between(40, 49, 'both'), 'Range'] = '40s'
df_age_count.loc[df['Age'].between(50, 59, 'both'), 'Range'] = '50s'
df_age_count.loc[df['Age'].between(60, 69, 'both'), 'Range'] = '60s'
df_age_count.loc[df['Age'].between(70, 79, 'both'), 'Range'] = '70s'

In [ ]:
df_age_count.Range.value_counts()

In [ ]:
df_age_count_grouped = df_age_count.groupby('Range')['Count'].sum()
df_age_count_grouped = df_age_count_grouped.to_frame()
df_age_count_grouped = df_age_count_grouped.reset_index()

In [ ]:
plt.rcParams.update(params)

fig, axes = plt.subplots(1, 1, figsize=(15, 7))
sns.set(style="white")

chart = sns.barplot(
    ax=axes,
    x="Range",
    y="Count",
    data=df_age_count_grouped,
    errorbar=None,
    palette=[ord_color if x != "30s" else spec_lev1
        for x in df_age_count_grouped["Range"]],
)


plt.xlabel("Age Range")
plt.ylabel("Number of Tech Workers")
plt.xticks()
plt.yticks()

chart.set_xticklabels(chart.get_xticklabels(), rotation=45, horizontalalignment="right")
plt.suptitle("Age Range of Tech Workers")

plt.show()