# Openness and Access

In [18]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
import datetime
import matplotlib.dates as mdates

from scipy import stats
from matplotlib.dates import DateFormatter
from IPython.display import display

# Load and Display Raw Data

In [19]:
db_survey = sqlite3.connect(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\TechMentalHealth\\DataSet\\mental_health.sqlite"
)

In [20]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

# Colors

In [21]:
ord_color = "bisque"
spec_lev1 = "crimson"
spec_lev2 = "orangered"
spec_lev3 = "lightcoral"
male_color = "royalblue"
female_color = "pink"
graph_color1 = "indianred"
graph_color2 = "slategrey"

# Answers

In [22]:
df_answers = pd.read_sql_query("SELECT * FROM Answer", db_survey)
df_answers.head()

  AnswerText  SurveyID  UserID  QuestionID
0         37      2014       1           1
1         44      2014       2           1
2         32      2014       3           1
3         31      2014       4           1
4         31      2014       5           1

# Tech Workers in Tech Companies

In [23]:
df_Answer9 = pd.read_sql_query(
    "SELECT USERID FROM Answer where QuestionID = 9 AND AnswerText = '1'",
    db_survey
)

In [24]:
df_Answer9.count()

UserID    2888
dtype: int64

In [25]:
df_Answer13 = pd.read_sql_query(
    "SELECT USERID FROM Answer where QuestionID = 13 AND AnswerText = '1'",
    db_survey
)

In [26]:
df_Answer13.count()

UserID    1471
dtype: int64

In [27]:
df_TechinTech = pd.merge(df_Answer13, df_Answer9 , on='UserID', how='inner')

In [28]:
df_TechinTech.head()

   UserID
0    2694
1    2695
2    2696
3    2697
4    2700

In [29]:
Total_TechinTech = df_TechinTech.count()
Total_TechinTech

UserID    909
dtype: int64

# Open Tech Workers

# 12
Would you bring up a mental health issue with a potential employer in an interview?

In [52]:
df_Answer12 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 12",
    db_survey
)

In [53]:
df_Answer12_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 12 AND AnswerText = 'Yes'",
    db_survey
)

In [54]:
df_Answer12TechinTech = pd.merge(df_TechinTech, df_Answer12_Yes, on='UserID', how='inner')

In [51]:
df_Answer12TechinTech.count()

UserID    51
dtype: int64

# 18
Would you feel comfortable discussing a mental health issue with a coworker?

In [45]:
df_Answer18 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 18",
    db_survey
)

In [46]:
df_Answer18_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 18 AND AnswerText = 'Yes'",
    db_survey
)

In [47]:
df_Answer18TechinTech = pd.merge(df_TechinTech, df_Answer18_Yes, on='UserID', how='inner')

In [48]:
df_Answer18TechinTech.count()

UserID    312
dtype: int64

# 19
Would you feel comfortable discussing a mental health issue with a direct supervisor?

In [59]:
df_Answer19 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 19",
    db_survey
)

In [60]:
df_Answer19_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 19 AND AnswerText = 'Yes'",
    db_survey
)

In [61]:
df_Answer19TechinTech = pd.merge(df_TechinTech, df_Answer19_Yes, on='UserID', how='inner')

In [62]:
df_Answer19TechinTech.count()

UserID    372
dtype: int64

# Tech Workers who are Open

In [108]:
df_open = pd.merge(
    pd.merge(df_Answer12TechinTech, df_Answer18TechinTech, on="UserID"),
    df_Answer19TechinTech,
    on="UserID",
    how="inner",
)

In [109]:
df_open.count()

UserID    28
dtype: int64

# Access to Resources

# 10 
Does employer provide mental health benefits as part of healthcare coverage?

In [94]:
df_Answer10 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 10",
    db_survey
)

In [95]:
df_Answer10_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 10 AND AnswerText = 'Yes'",
    db_survey
)

In [96]:
df_Answer10TechinTech = pd.merge(df_TechinTech, df_Answer10_Yes , on='UserID', how='inner')

In [97]:
df_Answer10TechinTech.count()

UserID    498
dtype: int64

# 14 
Do you know options for mental health care available under your employer provided health coverage?

In [90]:
df_Answer14 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 14",
    db_survey
)

In [91]:
df_Answer14_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 14 AND AnswerText = 'Yes'",
    db_survey
)

In [92]:
df_Answer14TechinTech = pd.merge(df_TechinTech, df_Answer14_Yes, on='UserID', how='inner')

In [93]:
df_Answer14TechinTech.count()

UserID    378
dtype: int64

# 16 
Does employer offer resources to learn more about mental health disorders and options for seeking help?

In [98]:
df_Answer16 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 16",
    db_survey
)

In [99]:
df_Answer16_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 16 AND AnswerText = 'Yes'",
    db_survey
)

In [100]:
df_Answer16TechinTech = pd.merge(df_TechinTech, df_Answer16_Yes , on='UserID', how='inner')

In [101]:
df_Answer16TechinTech.count()

UserID    255
dtype: int64

# Tech Workers with Access

In [102]:
df_access = pd.merge(
    pd.merge(df_Answer10TechinTech, df_Answer14TechinTech, on="UserID"),
    df_Answer16TechinTech,
    on="UserID",
    how="inner",
)

In [104]:
df_access.count()

UserID    176
dtype: int64

# Open Tech Workers who Experience Good Access to Resources

In [110]:
df_openandaccess = pd.merge(df_open, df_access, on='UserID', how='inner')

In [111]:
df_openandaccess.count()

UserID    9
dtype: int64