# Openness and Attitude

In [34]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
import datetime
import matplotlib.dates as mdates

from scipy import stats
from matplotlib.dates import DateFormatter
from IPython.display import display

# Load and Display Raw Data

In [35]:
db_survey = sqlite3.connect(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\TechMentalHealth\\DataSet\\mental_health.sqlite"
)

In [36]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

# Colors

In [37]:
ord_color = "bisque"
spec_lev1 = "crimson"
spec_lev2 = "orangered"
spec_lev3 = "lightcoral"
male_color = "royalblue"
female_color = "pink"
graph_color1 = "indianred"
graph_color2 = "slategrey"

# Answers

In [38]:
df_answers = pd.read_sql_query("SELECT * FROM Answer", db_survey)
df_answers.head()

  AnswerText  SurveyID  UserID  QuestionID
0         37      2014       1           1
1         44      2014       2           1
2         32      2014       3           1
3         31      2014       4           1
4         31      2014       5           1

# Tech Workers in Tech Companies

In [39]:
df_Answer9 = pd.read_sql_query(
    "SELECT USERID FROM Answer where QuestionID = 9 AND AnswerText = '1'",
    db_survey
)

In [40]:
df_Answer9.count()

UserID    2888
dtype: int64

In [41]:
df_Answer13 = pd.read_sql_query(
    "SELECT USERID FROM Answer where QuestionID = 13 AND AnswerText = '1'",
    db_survey
)

In [42]:
df_Answer13.count()

UserID    1471
dtype: int64

In [43]:
df_TechinTech = pd.merge(df_Answer13, df_Answer9 , on='UserID', how='inner')

In [44]:
df_TechinTech.head()

   UserID
0    2694
1    2695
2    2696
3    2697
4    2700

In [45]:
Total_TechinTech = df_TechinTech.count()
Total_TechinTech

UserID    909
dtype: int64

# Open Tech Workers

# 12
Would you bring up a mental health issue with a potential employer in an interview?

In [46]:
df_Answer12 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 12",
    db_survey
)

In [47]:
df_Answer12_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 12 AND AnswerText = 'Yes'",
    db_survey
)

In [48]:
df_Answer12TechinTech = pd.merge(df_TechinTech, df_Answer12_Yes, on='UserID', how='inner')

In [49]:
df_Answer12TechinTech.count()

UserID    51
dtype: int64

# 18
Would you feel comfortable discussing a mental health issue with a coworker?

In [50]:
df_Answer18 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 18",
    db_survey
)

In [51]:
df_Answer18_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 18 AND AnswerText = 'Yes'",
    db_survey
)

In [52]:
df_Answer18TechinTech = pd.merge(df_TechinTech, df_Answer18_Yes, on='UserID', how='inner')

In [53]:
df_Answer18TechinTech.count()

UserID    312
dtype: int64

# 19
Would you feel comfortable discussing a mental health issue with a direct supervisor?

In [54]:
df_Answer19 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 19",
    db_survey
)

In [55]:
df_Answer19_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 19 AND AnswerText = 'Yes'",
    db_survey
)

In [56]:
df_Answer19TechinTech = pd.merge(df_TechinTech, df_Answer19_Yes, on='UserID', how='inner')

In [57]:
df_Answer19TechinTech.count()

UserID    372
dtype: int64

In [58]:
df_open = pd.merge(
    pd.merge(df_Answer12TechinTech, df_Answer18TechinTech, on="UserID"),
    df_Answer19TechinTech,
    on="UserID",
    how="inner",
)

In [59]:
df_open.count()

UserID    28
dtype: int64

# Attitude

# 11 
Is your anonimity protected if you choose to take advantage of mental health or substance abuse treatment resources provided by your employer?

In [60]:
df_Answer11 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 11",
    db_survey
)

In [61]:
df_Answer11_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 11 AND AnswerText = 'Yes'",
    db_survey
)

In [62]:
df_Answer11TechinTech = pd.merge(df_TechinTech, df_Answer11_Yes, on='UserID', how='inner')

In [63]:
df_Answer11TechinTech.count()

UserID    295
dtype: int64

# 17 
If a mental health issue prompted you to request a medical leave from work, how easy or difficult would it be to ask for that leave?

In [64]:
df_Answer17 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 17",
    db_survey
)

In [65]:
df_Answer17 = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 17 AND AnswerText = 'Very easy'",
    db_survey
)
df_Answer17.count()

UserID    506
dtype: int64

In [66]:
df_Answer17TechinTech = pd.merge(df_TechinTech, df_Answer17, on='UserID', how='inner')

In [67]:
df_Answer17TechinTech.count()

UserID    218
dtype: int64

# 83 
Have you observed or experienced supportive or well handled response to a mental health issue in your current or previous workplace?

In [68]:
df_Answer83 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 83",
    db_survey
)

In [69]:
df_Answer83 = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 83 AND (AnswerText = 'Yes, I experienced' OR AnswerText = 'Yes, I observed')",
    db_survey,
)

In [70]:
df_Answer83TechinTech = pd.merge(df_TechinTech, df_Answer83, on='UserID', how='inner')

In [71]:
df_Answer83TechinTech.count()

UserID    381
dtype: int64

In [72]:
df_attitude = pd.merge(
    pd.merge(df_Answer11TechinTech, df_Answer17TechinTech, on="UserID"),
    df_Answer83TechinTech,
    on="UserID",
    how="inner",
)

In [73]:
df_attitude.count()

UserID    70
dtype: int64

# Open Tech Workers who Experience Good Attitude

In [76]:
df_openandattitude = pd.merge(df_open, df_attitude, on='UserID', how='inner')

In [77]:
df_openandattitude.count()

UserID    5
dtype: int64