# Attitude

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
import datetime
import matplotlib.dates as mdates

from scipy import stats
from matplotlib.dates import DateFormatter
from IPython.display import display

# Load and Display Raw Data

In [2]:
db_survey = sqlite3.connect(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\TechMentalHealth\\DataSet\\mental_health.sqlite"
)

In [3]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

# Colors

In [4]:
ord_color = "bisque"
spec_lev1 = "crimson"
spec_lev2 = "orangered"
spec_lev3 = "lightcoral"
male_color = "royalblue"
female_color = "pink"
graph_color1 = "indianred"
graph_color2 = "slategrey"

# Answers

In [5]:
df_answers = pd.read_sql_query("SELECT * FROM Answer", db_survey)
df_answers.head()

  AnswerText  SurveyID  UserID  QuestionID
0         37      2014       1           1
1         44      2014       2           1
2         32      2014       3           1
3         31      2014       4           1
4         31      2014       5           1

# Tech Workers in Tech Companies

In [6]:
df_Answer9 = pd.read_sql_query(
    "SELECT USERID FROM Answer where QuestionID = 9 AND AnswerText = '1'", db_survey
)

In [7]:
df_Answer9.count()

UserID    2888
dtype: int64

In [8]:
df_Answer13 = pd.read_sql_query(
    "SELECT USERID FROM Answer where QuestionID = 13 AND AnswerText = '1'", db_survey
)

In [9]:
df_Answer13.count()

UserID    1471
dtype: int64

In [10]:
df_TechinTech = pd.merge(df_Answer13, df_Answer9, on="UserID", how="inner")

In [11]:
df_TechinTech.head()

   UserID
0    2694
1    2695
2    2696
3    2697
4    2700

In [12]:
Total_TechinTech = df_TechinTech.count()
Total_TechinTech

UserID    909
dtype: int64

# Access toward Mental Illness

# 11 
Is your anonimity protected if you choose to take advantage of mental health or substance abuse treatment resources provided by your employer?

In [44]:
df_Answer11 = pd.read_sql_query("SELECT * FROM Answer where QuestionID = 11", db_survey)
Total_Answer11 = df_Answer11.UserID.count()
Total_Answer11

4218

In [45]:
df_Answer11_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 11 AND AnswerText = 'Yes'", db_survey
)
Yes_Answer11 = df_Answer11_Yes.UserID.count()
Yes_Answer11

1135

In [15]:
df_Answer11TechinTech = pd.merge(
    df_TechinTech, df_Answer11_Yes, on="UserID", how="inner"
)

In [46]:
TechinTech_Answer11 = df_Answer11TechinTech.UserID.count()
TechinTech_Answer11

295

# 17 
If a mental health issue prompted you to request a medical leave from work, how easy or difficult would it be to ask for that leave?

In [55]:
df_Answer17 = pd.read_sql_query("SELECT * FROM Answer where QuestionID = 17", db_survey)
Total_Answer17 = df_Answer17.UserID.count()
Total_Answer17

2958

In [47]:
df_Answer17_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 17 AND (AnswerText = 'Very easy' OR AnswerText = 'Somewhat easy')",
    db_survey,
)
Yes_Answer17 = df_Answer17_Yes.UserID.count()
Yes_Answer17

1143

In [37]:
df_Answer17TechinTech = pd.merge(
    df_TechinTech, df_Answer17_Easy, on="UserID", how="inner"
)

In [48]:
TechinTech_Answer17 = df_Answer17TechinTech.UserID.count()
TechinTech_Answer17

482

# 83 
Have you observed or experienced supportive or well handled response to a mental health issue in your current or previous workplace?

In [50]:
df_Answer83 = pd.read_sql_query("SELECT * FROM Answer where QuestionID = 83", db_survey)
Total_Answer83 = df_Answer83.UserID.count()
Total_Answer83

1525

In [51]:
df_Answer83_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 83 AND (AnswerText = 'Yes, I experienced' OR AnswerText = 'Yes, I observed')",
    db_survey,
)
Yes_Answer83 = df_Answer83_Yes.UserID.count()
Yes_Answer83

578

In [42]:
df_Answer83TechinTech = pd.merge(df_TechinTech, df_Answer83_Yes, on="UserID", how="inner")

In [53]:
TechinTech_Answer83 = df_Answer83TechinTech.UserID.count()
TechinTech_Answer83

381

# Tech Workers who Experience Positive Attitudes

In [25]:
df_attitude = pd.merge(
    pd.merge(df_Answer11TechinTech, df_Answer17TechinTech, on="UserID"),
    df_Answer83TechinTech,
    on="UserID",
    how="inner",
)

In [26]:
df_attitude.count()

UserID    70
dtype: int64

# Attitude Score

In [56]:
Attitude_Score = (
    (TechinTech_Answer11 * Yes_Answer11)
    + (TechinTech_Answer17 * Yes_Answer17)
    + (TechinTech_Answer83 * Yes_Answer83)
) / (Total_Answer11 + Total_Answer17 + Total_Answer83)
Attitude_Score

127.10826341799793