# Access

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
import datetime
import matplotlib.dates as mdates

from scipy import stats
from matplotlib.dates import DateFormatter
from IPython.display import display

# Load and Display Raw Data

In [2]:
db_survey = sqlite3.connect(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\TechMentalHealth\\DataSet\\mental_health.sqlite"
)

In [3]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

# Colors

In [4]:
ord_color = "bisque"
spec_lev1 = "crimson"
spec_lev2 = "orangered"
spec_lev3 = "lightcoral"
male_color = "royalblue"
female_color = "pink"
graph_color1 = "indianred"
graph_color2 = "slategrey"

# Answers

In [5]:
df_answers = pd.read_sql_query("SELECT * FROM Answer", db_survey)
df_answers.head()

  AnswerText  SurveyID  UserID  QuestionID
0         37      2014       1           1
1         44      2014       2           1
2         32      2014       3           1
3         31      2014       4           1
4         31      2014       5           1

# Tech Workers in Tech Companies

In [6]:
df_Answer9 = pd.read_sql_query(
    "SELECT USERID FROM Answer where QuestionID = 9 AND AnswerText = '1'", db_survey
)

In [29]:
df_Answer9.UserID.count()

2888

In [8]:
df_Answer13 = pd.read_sql_query(
    "SELECT USERID FROM Answer where QuestionID = 13 AND AnswerText = '1'", db_survey
)

In [9]:
df_Answer13.count()

UserID    1471
dtype: int64

In [10]:
df_TechinTech = pd.merge(df_Answer13, df_Answer9, on="UserID", how="inner")

In [11]:
df_TechinTech.head()

   UserID
0    2694
1    2695
2    2696
3    2697
4    2700

In [12]:
Total_TechinTech = df_TechinTech.count()
Total_TechinTech

UserID    909
dtype: int64

# Access to Resources

# 10 
Does employer provide mental health benefits as part of healthcare coverage?

In [44]:
df_Answer10 = pd.read_sql_query("SELECT * FROM Answer where QuestionID = 10", db_survey)
Total_Answer10 = df_Answer10.UserID.count()
Total_Answer10

4218

In [45]:
df_Answer10_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 10 AND AnswerText = 'Yes'", db_survey
)
Yes_Answer10 = df_Answer10_Yes.UserID.count()
Yes_Answer10

1744

In [15]:
df_Answer10TechinTech = pd.merge(
    df_TechinTech, df_Answer10_Yes, on="UserID", how="inner"
)

In [46]:
TechinTech_Answer10 = df_Answer10TechinTech.UserID.count()
TechinTech_Answer10

498

# 14 
Do you know options for mental health care available under your employer provided health coverage?

In [47]:
df_Answer14 = pd.read_sql_query("SELECT * FROM Answer where QuestionID = 14", db_survey)
Total_Answer14 = df_Answer14.UserID.count()
Total_Answer14

2958

In [48]:
df_Answer14_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 14 AND AnswerText = 'Yes'", db_survey
)
Yes_Answer14 = df_Answer14_Yes.UserID.count()
Yes_Answer14

869

In [19]:
df_Answer14TechinTech = pd.merge(
    df_TechinTech, df_Answer14_Yes, on="UserID", how="inner"
)

In [49]:
TechinTech_Answer14 = df_Answer14TechinTech.UserID.count()
TechinTech_Answer14

378

# 16 
Does employer offer resources to learn more about mental health disorders and options for seeking help?

In [54]:
df_Answer16 = pd.read_sql_query("SELECT * FROM Answer where QuestionID = 16", db_survey)
Total_Answer16 = df_Answer16.UserID.count()
Total_Answer16

2958

In [52]:
df_Answer16_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 16 AND AnswerText = 'Yes'", db_survey
)
Yes_Answer16 = df_Answer16_Yes.UserID.count()
Yes_Answer16

702

In [36]:
df_Answer16TechinTech = pd.merge(
    df_TechinTech, df_Answer16_Yes, on="UserID", how="inner"
)

In [53]:
TechinTech_Answer16 = df_Answer16TechinTech.UserID.count()
TechinTech_Answer16

255

# Tech Workers with Access

In [25]:
df_access = pd.merge(
    pd.merge(df_Answer10TechinTech, df_Answer14TechinTech, on="UserID"),
    df_Answer16TechinTech,
    on="UserID",
    how="inner",
)

In [104]:
df_access.count()

UserID    176
dtype: int64

# Access Score

In [57]:
Access_Score = (
    (TechinTech_Answer10 * Yes_Answer10)
    + (TechinTech_Answer14 * Yes_Answer14)
    + (TechinTech_Answer16 * Yes_Answer16)
) / (Total_Answer10 + Total_Answer14 + Total_Answer16)
Access_Score

135.78093546477206