# Openness

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
import datetime
import matplotlib.dates as mdates

from scipy import stats
from matplotlib.dates import DateFormatter
from IPython.display import display

# Load and Display Raw Data

In [2]:
db_survey = sqlite3.connect(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\TechMentalHealth\\DataSet\\mental_health.sqlite"
)

In [3]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

# Colors

In [4]:
ord_color = "bisque"
spec_lev1 = "crimson"
spec_lev2 = "orangered"
spec_lev3 = "lightcoral"
male_color = "royalblue"
female_color = "pink"
graph_color1 = "indianred"
graph_color2 = "slategrey"

# Answers

In [5]:
df_answers = pd.read_sql_query("SELECT * FROM Answer", db_survey)
df_answers.head()

  AnswerText  SurveyID  UserID  QuestionID
0         37      2014       1           1
1         44      2014       2           1
2         32      2014       3           1
3         31      2014       4           1
4         31      2014       5           1

# Tech Workers in Tech Companies

In [6]:
df_Answer9 = pd.read_sql_query(
    "SELECT USERID FROM Answer where QuestionID = 9 AND AnswerText = '1'",
    db_survey
)

In [7]:
df_Answer9.count()

UserID    2888
dtype: int64

In [8]:
df_Answer13 = pd.read_sql_query(
    "SELECT USERID FROM Answer where QuestionID = 13 AND AnswerText = '1'",
    db_survey
)

In [9]:
df_Answer13.count()

UserID    1471
dtype: int64

In [10]:
df_TechinTech = pd.merge(df_Answer13, df_Answer9 , on='UserID', how='inner')

In [11]:
df_TechinTech.head()

   UserID
0    2694
1    2695
2    2696
3    2697
4    2700

In [12]:
Total_TechinTech = df_TechinTech.count()
Total_TechinTech

UserID    909
dtype: int64

# Openness

# 12
Would you bring up a mental health issue with a potential employer in an interview?

In [40]:
df_Answer12 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 12",
    db_survey
)
Total_Answer12 = df_Answer12.UserID.count()
Total_Answer12

4218

In [41]:
df_Answer12_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 12 AND AnswerText = 'Yes'",
    db_survey
)
Yes_Answer12 = df_Answer12_Yes.UserID.count()
Yes_Answer12

231

In [15]:
df_Answer12TechinTech = pd.merge(df_TechinTech, df_Answer12_Yes, on='UserID', how='inner')

In [43]:
TechinTech_Answer12 = df_Answer12TechinTech.UserID.count()
TechinTech_Answer12

51

# 18
Would you feel comfortable discussing a mental health issue with a coworker?

In [44]:
df_Answer18 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 18",
    db_survey
)
Total_Answer18 = df_Answer18.UserID.count()
Total_Answer18

2958

In [45]:
df_Answer18_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 18 AND AnswerText = 'Yes'",
    db_survey
)
Yes_Answer18 = df_Answer18_Yes.UserID.count()
Yes_Answer18

682

In [19]:
df_Answer18TechinTech = pd.merge(df_TechinTech, df_Answer18_Yes, on='UserID', how='inner')

In [46]:
TechinTech_Answer18 = df_Answer18TechinTech.UserID.count()
TechinTech_Answer18

312

# 19
Would you feel comfortable discussing a mental health issue with a direct supervisor?

In [48]:
df_Answer19 = pd.read_sql_query(
    "SELECT * FROM Answer where QuestionID = 19",
    db_survey
)
Total_Answer19 = df_Answer19.UserID.count()
Total_Answer19

2958

In [49]:
df_Answer19_Yes = pd.read_sql_query(
    "SELECT UserID FROM Answer where QuestionID = 19 AND AnswerText = 'Yes'",
    db_survey
)
Yes_Answer19 = df_Answer19_Yes.UserID.count()
Yes_Answer19

932

In [50]:
df_Answer19TechinTech = pd.merge(df_TechinTech, df_Answer19_Yes, on='UserID', how='inner')

In [51]:
TechinTech_Answer19 = df_Answer19TechinTech.UserID.count()
TechinTech_Answer19

372

# Open Tech Workers

In [52]:
df_open = pd.merge(
    pd.merge(df_Answer12TechinTech, df_Answer18TechinTech, on="UserID"),
    df_Answer19TechinTech,
    on="UserID",
    how="inner",
)

In [53]:
df_open.count()

UserID    28
dtype: int64

# Openness Score

In [55]:
Openness_Score = (
    (TechinTech_Answer12 * Yes_Answer12)
    + (TechinTech_Answer18 * Yes_Answer18)
    + (TechinTech_Answer19 * Yes_Answer19)
) / (Total_Answer12 + Total_Answer18 + Total_Answer19)
Openness_Score

56.371521610420366