# Answer Totals

In [2]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
import datetime
import matplotlib.dates as mdates

from scipy import stats
from matplotlib.dates import DateFormatter
from IPython.display import display

In [3]:
db = sqlite3.connect(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\TechMentalHealth\\DataSet\\mental_health.sqlite"
)

In [4]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

In [9]:
df_answer = pd.read_sql_query("SELECT AnswerText FROM Answer", db)
df_answer_counts = df_answer.count().to_frame()
df_answer_counts = df_answer_counts.rename(
    columns={0: "Count"}
)

df_answer_counts.index.names = ['Answers']
df_answer_counts

             Count
Answers
AnswerText  236898