# Number of Questions

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
import datetime
import matplotlib.dates as mdates

from scipy import stats
from matplotlib.dates import DateFormatter
from IPython.display import display

In [2]:
db = sqlite3.connect(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\TechMentalHealth\\DataSet\\mental_health.sqlite"
)

In [3]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

In [7]:
df_questions = pd.read_sql_query("SELECT * FROM Question", db)
df_questions.count().to_frame()

                0
questiontext  105
questionid    105

In [ ]:
df_age_counts = df_age_counts.rename(
    columns={"index": "Age", "AnswerText": "Count"}
)
df_age_counts = df_age_counts.set_index('Age')
df_age_counts